.center {
    text-align: center;
}

.body-background {
    background-color: #E2ED9B;
}

.rock-font {
    font-family: 'Rock Salt', cursive;
}

nav {
    background-color: #FEF8EE;
}
.recipe-card {
    margin-right: 30px;
}

.container {
    margin: 40px;
    padding: 30px;
    border: 1px solid black;
    font-family: 'Raleway', sans-serif;
    background-color: #FEF8EE;
}

.favorite-container {
    height: fit-content;
}

.kitchen-tools {
    height: 300px;
}

.jumbo-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.footer {
    border-top: 1px solid black;
    padding-top: 10px;
    text-align: center;
}

.footer-heading {
    font-size: 14px;
}

.footer-text {
    font-size: 10px;
}

.footer-links {
    color: black;
    text-decoration: none;
}

.hover:hover {
    color: burlywood;
}