.center {
    text-align: center;
}

.body-background {
    background-color: #E2ED9B;
}

.rock-font {
    font-family: 'Rock Salt', cursive;
}

nav {
    background-color: #FEF8EE;
}

.recipe-card {
    margin-right: 30px;
}

.container {
    margin: 40px auto;
    padding: 30px;
    border: 1px solid black;
    font-family: 'Raleway', sans-serif;
    background-color: #FEF8EE;
    
}

.toast-header {
    background-color: #E2ED9B;
    width: 357px;
}

.toast-body {
    text-align: center;
    font-size: 30px;
}

.toast-height {
    height: 200px;
}
.toast-top {
    top: 0;
    left: 50%;
    position: fixed;
    transform: translate(-50%, 0px);
    z-index: 9999;
}

.red-border {
    border: 1px solid red;
}
.favorite-container {
    height: fit-content;
}

.kitchen-tools {
    height: 300px;
}

.jumbo-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.footer {
    bottom: 0;
    border-top: 1px solid black;
    padding-top: 10px;
    text-align: center;
}

.footer-heading {
    font-size: 14px;
}

.footer-text {
    font-size: 10px;
}

.footer-links {
    color: black;
    text-decoration: none;
}

.hover:hover {
    color: burlywood;
}