.center {
  text-align: center;
}

.body-background {
  background-color: #e2ed9b;
}

.rock-font {
  font-family: 'Rock Salt', cursive;
}

nav {
  background-color: #fef8ee;
}

.recipe-card {
  margin-right: 30px;
}

.container {
  margin: 40px auto;
  padding: 30px;
  border: 1px solid black;
  font-family: 'Raleway', sans-serif;
  background-color: #fef8ee;
}

.toast-header {
  background-color: #e2ed9b;
  width: 357px;
}

.toast-body {
  text-align: center;
  font-size: 30px;
}

.toast-no-height {
    height: 0;
    width: 0;
}
.toast-top {
  top: 0;
  left: 50%;
  position: fixed;
  transform: translate(-50%, 0px);
  z-index: 9999;
}

.toast-on-top {
  z-index: 9999;
}

.recipe-div {
  border: 1px solid black;
  margin:  30px auto;

}

.red-border {
  border: 1px solid red;
}

.favorite-container {
  height: fit-content;

}

.kitchen-tools {
  height: 300px;
}

.jumbo-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.search-header {
  margin: 15px;
}

.hide {
  display: none;
}

.label-margin {
  margin: 0;
}
.upload {
  width: 500px;
}

.image-preview {
  width: 300px;
  min-height: 100px;
  margin-top: 15px;
  display: none;
}

.image-display {
  display: block;
}
.footer {
  position: sticky;
  bottom: 0;
  border-top: 1px solid black;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #e2ed9b;
}

.footer-heading {
  font-size: 14px;
}

.footer-text {
  font-size: 10px;
}

.footer-links {
  color: black;
  text-decoration: none;
}

.hover:hover {
  color: #fef8ee;
}
